@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,300i,400,700");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

/*********** Global Styles********/
html {
  scroll-behavior: smooth;

}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 20px;
  }

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  -webkit-border-radius: 15px;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  border:none;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* background: rgb(238,174,202); */
  background: radial-gradient(circle, rgb(255, 255, 255) 0%, rgb(223, 223, 223) 100%);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
  background: radial-gradient(circle, rgb(243, 245, 137) 0%, rgb(161, 235, 177) 100%);
}

h1 {
  font-family: "Nunito", sans-serif !important;
}
#hover-color {
  color: rgb(206, 206, 206);
}
h2,
h3,
h4,
h5,
h6 {
  font-family: "Nunito", sans-serif !important;
  font-weight: 900 !important;
}
img {
  box-shadow: 0px 5px 10px rgb(125, 125, 133);
  border-radius: 10px;
  transition: 0.3s;
}
#first-img, #third-img {
  width: 462px;
    height: 220.5px;
}
.wrapper {
  background: #e3e3e3;
}
/* 
.img-circle {
		border-radius: 50%;
} */

.my-button {
  font-size: 1em;
  line-height: normal;
  text-transform: uppercase;
  font-family: "Lato", sans-serif;
  font-weight: 900;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out, color 0.2s 0.3s;
  letter-spacing: 0;
  border-radius: 45px;
  height: auto;
  padding: 0.8em 2.1em;
}

.my-button:hover {
  cursor: pointer;
  padding: 0.8em 2.7em;
}

.my-button:active,
.my-button:focus,
.my-button.active {
  background-image: none;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/**********************************/

/*** thin bar ***/

.thin-bar {
  border-bottom: 5px solid #f33f12;
}
/***************New Image Section BG-FOTO**********/
#bg-foto{
  box-shadow: none;
  border-radius: 0;
  position:relative;
  opacity:0.2;
  object-fit: cover;
}
/*** About Section ***/

#about {   
  border: 1px solid #eee;
  background-color: white;
  padding-bottom: 1em;
  margin-top:-300px;
  
}

#about img {
  /* max-width: 15em; */
  position: relative;
  bottom: 7.5em;
}

#about .details {
  margin-top: -2em;
}

#about h2 {
  color: #646464;
  font-size: 3.8em;
  padding-bottom: 15px;
}

#about span {
  font-weight: 300;
  font-size: 0.7em;
}

#about h5 {
  color: #8a8a8b;
}

#about p {
  margin-top: 1em;
  color: #646464;
  font-family: "roboto";
  font-weight: 300;
}

.cta .cta-button {
  color: #cc4b37;
  text-transform: uppercase;
  border: 2px solid rgba(255, 103, 68, 0.91);
  border-radius: 50px;
  background: white;
}

.cta .cta-button:hover,
.cta .cta-button:focus {
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 14px 1px rgba(0, 0, 0, 0.15);
  background-color: rgba(255, 103, 68, 0.91);
  color: white;
}

#about i {
  margin-top: 2em;

}

.fa {
  font-size: 1.2em;
  padding: 0.1em 0.4em;
  color: #8a8a8a;
}

.fa:hover {
  cursor: pointer;
}

/*** Experience ***/
#experience {
  background-color: #4c6d86;
  padding: 6em 4em 5.6em;
}

#experience h2 {
  color: #fff;
  margin-bottom: 0.7em;
}

#experience .tag-line {
  color: white;
  font-size: 1.4em;
}

#experience i {
  color: rgb(255, 138, 89);
  font-size: 4em;
}

#experience h3 {
  color: #fff;
}

.experience-topics p {
  color: #acaeb2;
  font-family: "Maven pro", sans-serif;
  /*font-weight: 500;*/
}

.experience-topics ul li {
  list-style: none;
  color: #bbd2ff;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
}

/*** work ***/
#work {
  padding: 6em 4em 3em;
  background-color: #fff;
}

#work h2 {
  color: #ff6945;
  margin-bottom: 0.7em;
}

#work .tag-line {
  color: #767779;
  font-size: 1.4em;
  margin-bottom: 4em;
}

#work .work-row {
  margin-bottom: 5.5em;
}

.details h3 {
  color: #738182;
  text-transform: uppercase;
}

.details .platform {
  font-size: 0.8em;
  text-transform: uppercase;
  margin: 2em 0 -0.1em;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  color: #ff7654;
}

.details i {
  color: #ff7654;
  margin-right: 1em;
}

.details p {
  color: #738182;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
  margin-bottom: 1.8em;
}

.details a,
.details a:link,
.details a:active {
  color: rgba(255, 103, 68, 0.91);
  border: 2px solid rgba(255, 103, 68, 0.91) !important;
  background-color: #fff;
}

.details a:hover,
.details a:focus {
  /*box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 14px 1px rgba(0, 0, 0, 0.15);*/
  background-color: rgba(255, 103, 68, 0.91) !important;
  color: #fff;
}

/*** teaching ***/
#teaching {
  padding: 6em 4em 3em;
}

#teaching h2 {
  color: #595959;
}

#teaching .tag-line {
  color: #848282;
  font-size: 1.4em;
}

#teaching .teaching-domains {
  height: 500px;
  width: auto;
  margin-top: -4em;
}

/*** Footer Call-to-action ***/
#footer-cta {
  background-color: rgba(255, 103, 68, 0.91);
  padding: 6em 4em 5.6em;
}

#footer-cta h2 {
  color: white;
}

#footer-cta p {
  color: #fff;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  font-size: 1.2em;
}

#startButtonDiv {
  margin-top: 3em;
}

#footer-cta a {
  border: 2px solid #fff;
  border-radius: 45px;
  color: #fff;
}

#footer-cta a:hover {
  background: #fff;
  color: rgba(255, 103, 68, 0.91);
  box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18),
    0 4px 14px 1px rgba(0, 0, 0, 0.15);
}

/*** footer starts ***/

#footer {
  padding-top: 15px;
  background-color: #4c4c4e;
}

#footer #logo {
  background-color: rgba(255, 103, 68, 0.91);
  border-radius: 50%;
  color: #fff;
  padding: 0.4em;
  font-family: "Maven pro", sans-serif;
  font-size: 1.6em;
  font-weight: 500;
  display: inline;
}

#footer #copyright {
  margin-top: 1.6em;
  font-family: "Maven pro", sans-serif;
  font-weight: 500;
  color: #7d7d7d;
}

.profile-photo {
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 6px solid grey;
  box-shadow: 0px 0px 10px rgb(141, 139, 139);
  border-radius: 50%;
  background-size: cover;
  margin-top: -340px;
  margin-bottom: 40px;
  transition: 0.3s ease;
  position: relative;
  
}

.profile-photo:hover {
  width: 225px;
  height: 225px;
  opacity: 0.8;
}
